<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="SMTConnectionString" connectionString="Data Source=SHRI-PC;Initial Catalog=SMT;Integrated Security=false;uid=sa;pwd=sql"
   providerName="System.Data.SqlClient" />
  <add name="SMTConnectionString2" connectionString="Data Source=SHRI-PC;Initial Catalog=SMT;Integrated Security=false;uid=sa;pwd=sql"
   providerName="System.Data.SqlClient" />
  <add name="SMTConnectionString3" connectionString="Data Source=SHRI-PC;Initial Catalog=SMT;Integrated Security=False;User ID=sa;Password=sql"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
    <anonymousIdentification enabled="false" />
    <authentication mode="Windows">
      
    </authentication>
   
   
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
        <identity impersonate="false" />
	</system.web>
    <system.webServer>
        <security>
          
            <!--<authorization>
                <remove users="*" roles="" verbs="" />
            </authorization>-->
        </security>
    </system.webServer>
</configuration>
