.tablef
{
    font-family: 'Franklin Gothic Book';
    color: #FFFFFF;
    background-color: #990000;
    font-size: large;
    font-weight: normal;
    text-align: center;
    border: thin inset #FFFFFF;
    width: 1400px;
}