.tdstyle
{
    border: 3px solid #000000;
    height: 40px;
    background-color: #9A329A;
    font-family: 'Arial Rounded MT Bold';
    font-size: x-large;
    font-weight: lighter;
    color: #FFFFFF;
}
