<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
      <authorization>
       <!--<deny users="?" />
        <deny users="domainname\Administrator" />
        <allow users="domainname\Clerk" />-->
      </authorization>
    </system.web>
    <system.webServer>
        <security>
            <authorization>
                <add accessType="Allow" users="Shri-PC\Clerk" />
                <add accessType="Deny" users="Shri-PC\Administrator" />
                <add accessType="Deny" users="?" />
                
              <!--<add accessType="Deny" users="*" />-->
            </authorization>
        </security>
    </system.webServer>
</configuration>
